header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 10rem;
}

.car{
    background-color: black;
    color: white;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.cart-plus{
    font-size: 25px;
}

.section-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;
}

.hero-content h1{
    font-size: 42px;
    max-width: 30rem;
}

.see-menu{
    background-color: black;
    color: white;
    padding: 1rem 5rem;
    display: inline-block;
    font-weight: bold;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    cursor: pointer;
    margin: 2rem 0;
    box-shadow: 4px 4px 10px rgb(161, 160, 160);
}

.food-options{
    display: flex;
}



.option{
    margin-right: 2rem;
    background: rgb(246, 243, 243);d: rgb(224, 222, 222);
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-out;
    box-shadow: 4px 4px 10px rgb(175, 173, 173);
}

.option:hover{
    transform: translateY(-10px)
}

.option-icon{
    color: rgb(41, 40, 40);
}

.section-principal-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 10rem;
}

.principal-options-images{
    display: flex;
}

.featured{
    position: relative;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(246, 243, 243);
    width: 13rem;
    height: 13rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 10px rgb(175, 173, 173);
}

.featured img{
    bottom: 6rem;
    position: absolute;
    width: 12em;
}

.featured .image2{
    bottom: 6.5rem;
}

.principal-options-text {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal-options-text h3{
    font-size: 30px;
    margin-bottom: 1rem;
}

.principal-options-text p{
    line-height: 1.5rem;
}

.featured-description{
    position: relative;
    margin-top: 5.5rem;
    line-height: 1.5rem;
}

.car-featured{
    position: absolute;
    bottom: -1rem;
    right: 1rem;
}

.section-plate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;
    line-height: 1.5rem;
}

.image1{
    width: 30em;
}

.plate-content h1{
    margin-bottom: 1rem;
}

.section-reserve{
    display: flex;
    justify-content: space-between;
    margin: 5rem 10rem;
    align-items: center;
}

footer{
    background-color: black;
    color: white;
}

.footer-content{
    margin: 0 10rem;
    padding: 3rem 0;
    line-height: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.footer-content h2{
    margin-bottom: .4rem;
}